/* *{
    padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x : hidden;
    position: relative;
    display: block;
} 

.item::after{
    content: "";
    position: absolute;
    top:xyz;
    left: xyz;
}*/



.img_main{
    display: block;
    margin: auto;
}
body{
    background-color: #2F424E;
}
div{
    border-color: green;
    border: 2px solid;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
}



.rank_main{
    width: 100%;
    height: 500px;
    border: 1px solid black;
}

.rank_left{
    width:30%;
    float:left;
    box-sizing: border-box;
    background-color: aquamarine;
}

.rank_right{
    width: 70%;
    float: right;
    box-sizing: border-box;
    background-color: blanchedalmond;
}
